.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3.7rem;
  }
  .venues-container{
    width: 75%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}
.main-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 5%;

}
.header {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 50%;
    align-items: flex-start;
}
.btn {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #D9B34D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  .btn:hover {
    background-color: #c2a249;
  }
.light-btn {
    display: flex;
    align-items: center;
    padding: 7px 0px;
    color: #d9b34d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.light-btn:hover {
    background-color: #d9b44d23;
    color: #c2a249;
}
  .end-icon {
    margin-left: 10px;
  }
.line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 20px;
}
.search-container {
    position: relative;
    width: 26%;
}

.search-bar {
    width: 100%;
    height: 35px;
    background-color: #eeebeb;
    border-radius: 20px;
    padding: 6px 20px 6px 40px;
    color: black;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar::placeholder {
    color: black;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    overflow-y: scroll;
    justify-content: center;
    max-height: 560px;
}
.container::-webkit-scrollbar {
    width: 10px;
}
.container::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 10px;
}
.venue-box {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 15px 0px;
    gap: 7px;
    height: fit-content;
    padding: 12px 10px;
}
.venue-box:hover {
    background-color: #f0f0f094;
    border-color: #D9B34D;
}
.img-container {
    width: 100%;
    height: 41%;
    display: flex;
    justify-content: center;
}
.venue-img {
    width: 255px;
    height: 172px;
    border-radius: 8px;
    object-fit: cover;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.modal-overlay-status.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
  
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.venue-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 55%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-height: 85%;
    overflow-y: scroll;
}
.modal-img-container {
    width: 30%;
    height: 41%;
    display: flex;
    justify-content: center;
}
.Modal-Add-package-container {
    position: relative;
    display: inline-block;
    width: 85%;
    flex: none;
    display: flex;
    flex-direction: column;
}
.modal-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    overflow-y: auto; 
  }
  .modal-details {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}
.modal-venue-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 15px;
}
.input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.delete-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.delete-modal-btn {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;
    margin-top: 20px;
}
.close-button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal-img-container-details {
    width: 40%;
    height: 41%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.venue-img-details {
    width: 315px;
    height: 205px;
    border-radius: 8px;
    object-fit: cover;
}
.row-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}
.btn-venue {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #D9B34D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-venue:hover {
    background-color: #c2a249;
}
.modal-delete {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.modal-delete-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 550px; */
    overflow-y: auto;
}
.form {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
}
.container-category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* .catIcon {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #D9B34D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
} */
.catIcon {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    border-radius: 13px;
    cursor: pointer;
    width: 50%;
    border: solid 2px lightgray;
}
.flex-category {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
@media (max-width:1000px){
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        overflow-y: scroll;
        justify-content: center;
        max-height: 560px;
        width: 100%;
    }
    .venue-box {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 15px 0px;
        gap: 7px;
        height: fit-content;
        padding: 12px 10px;
    }
}
@media (max-width: 500px){
    .venue-box {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 15px 0px;
        gap: 7px;
        height: fit-content;
        padding: 12px 10px;
    }
}