.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3.7rem;
  }
.requests-container{
    width: 75%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}
.main-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 5%;

}
.header {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
    align-items: flex-start;
}
.btn {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #D9B34D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #c2a249;
  }
  .end-icon {
    margin-left: 10px;
  }
  .line{
    width: 100%;
    height: 1px;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.search-container {
    position: relative;
    width: 40%;
}

.search-bar {
    width: 100%;
    height: 35px;
    background-color: #eeebeb;
    border-radius: 20px;
    padding: 6px 20px 6px 40px;
    color: black;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar::placeholder {
    color: black;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
  
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.close-button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-img-container-details {
    max-width: 42%;
    height: 41%;
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    flex-wrap: nowrap;
}
.package-img-details {
    width: 345px;
    height: 231px;
    border-radius: 8px;
    object-fit: cover;
}
.modal-details {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 15px;
}
.modal-package-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 15px;
}
.modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}
.btn-package {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    background-color: #D9B34D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
}
.btn-package:hover {
    background-color: #c2a249;
}
.table-container{
    width: 100%;
  }
.added-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 32%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 25%;
}
.added-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 7%;
}
@media (max-width: 1000px) {
    .table-container {
      display: flex;
      flex-direction: column;
      gap: 18px;
      max-width: 100%; 
      overflow-x: auto;
      white-space: nowrap; 
    }
  
    .table {
      width: auto;
      min-width: 600px; /* Adjust this value as needed */
    }
    /* Scrollbar styles */
.table-container::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}
  }
  @media(max-width: 768px){
    .main-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-right: 5%;
        overflow-y: scroll;
    }
    .header {
        display: flex;
        flex-direction: row;
        padding: 0px 15px;
        width: fit-content;
        align-items: flex-start;
        justify-content: space-between;
    }
    .search-container {
        position: relative;
        width: 70%;
    }
    .modal {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 60%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow-y: scroll;
    }
    .modal-details {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 15px;
    }
    .modal-img-container-details {
        max-width: 75%;
        height: 41%;
        display: flex;
        overflow-x: scroll;
        gap: 15px;
        flex-wrap: nowrap;
    }
    .package-img-details {
        width: 190px;
        height: 145px;
        border-radius: 8px;
        object-fit: cover;
    }
  }