@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}
.Show-Button {
    background-color: #4C1B41;
    border: none;
    color: white;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 7px;
    cursor: pointer;
    border-radius: 5px;
}
.Favorite-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
}
.Fav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.Fav-Box {
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    gap: 6px;
    position: relative;
    height: inherit;
}
.Fav-Box:nth-child(-n+8) {
    display: flex; /* Show only the first 8 Fav-Box elements */
}
.Fav-img {
    width: -webkit-fill-available;
    height: 215px;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    padding: 10px;
}
.Transparent-Box {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgb(252 252 252 / 83%);
    padding: 5px;
    border-radius: 5px;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.showall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.break-text {
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* For modern browsers */
    white-space: normal; /* Ensure text wraps normally */
  }
/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .Favorite-container {
        width: 85%;
        /* padding-top: 10%; */
    }

    .Fav-phone-view {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 90%; /* Adjust the width as needed */
        overflow-x: auto;
        white-space: nowrap; /* Prevent wrapping to new lines */
    }

    /* Scrollbar styles */
    .Fav-phone-view::-webkit-scrollbar {
        height: 8px; /* Adjust the height of the scrollbar */
    }

    .Fav-phone-view::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }

    .Fav-Box {
        flex: none;
        padding: 2px;
        margin-left: 4%;
        width: 35%;
    }

    .Fav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .Profile-Image {
        width: 100px;
        height: 100px;
    }
    .Fav-img {
        width: -webkit-fill-available;
        height: 195px;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        margin-top: 10px;
    }
    .Fav-Box:nth-child(-n+8) {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 978px) {
    .Favorite-container {
        width: 85%;
        /* padding-top: 10%; */
    }

    .Fav-phone-view {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 90%; /* Adjust the width as needed */
        overflow-x: auto;
        white-space: nowrap; /* Prevent wrapping to new lines */
    }

    /* Scrollbar styles */
    .Fav-phone-view::-webkit-scrollbar {
        height: 8px; /* Adjust the height of the scrollbar */
    }

    .Fav-phone-view::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }

    .Fav-Box {
        flex: none;
        padding: 2px;
        margin-left: 4%;
        width: 55%;
        height: 295px;
        padding: 10px;
    }
    .Fav-img {
        width: -webkit-fill-available;
        height: 185px;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        padding: 0px;
    }

    .Fav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .Profile-Image {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .Favorite-container {
        width: 85%;
        /* padding-top: 10%; */
    }

    .Fav-phone-view {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 90%; /* Adjust the width as needed */
        overflow-x: auto;
        white-space: nowrap; /* Prevent wrapping to new lines */
    }

    /* Scrollbar styles */
    .Fav-phone-view::-webkit-scrollbar {
        height: 8px; /* Adjust the height of the scrollbar */
    }

    .Fav-phone-view::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }

    .Fav-Box {
        padding: 12px;
        margin-left: 4%;
        width: 85%;
        display: flex;
        align-items: center;
        height: 270px;
    }

    .Fav-img {
        width: -webkit-fill-available;
        height: 185px;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        margin-top: 0px;
        padding: 0px;
    }

    .Fav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .Profile-Image {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 400px) {
    .Favorite-container {
        width: 85%;
        /* padding-top: 10%; */
    }

    .Fav-phone-view {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 90%; /* Adjust the width as needed */
        overflow-x: auto;
        white-space: nowrap; /* Prevent wrapping to new lines */
    }

    /* Scrollbar styles */
    .Fav-phone-view::-webkit-scrollbar {
        height: 8px; /* Adjust the height of the scrollbar */
    }

    .Fav-phone-view::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }

    .Fav-phone-view::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }

    .Fav-Box {
        flex: none;
        padding: 2px;
        margin-left: 4%;
        width: 85%;
        padding: 7px 2px;
    }

    .Fav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
    }

    .Profile-Image {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 400px ){
    .Fav-img {
        width: -webkit-fill-available;
        height: 185px;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        margin-top: 0px;
        padding: 5px;
    }
}