@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}
.XL-font-size{
    font-size: 36px;
}
.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 18px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}

.All-row-felx{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.All-line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  .All-Packages-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
    width: 60%;
  }

.All-Packages-types {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.All-Package-Box {
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 23%;
  display: inline-block; 
  flex: none; 
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 2px;
  margin-right: 10px;
}
.All-Package-Box:hover {
  border: 2px solid #4C1B41;
  transition: 0.5s;
  transform: scale(1.05);
}
.All-Package-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    width: 225px;
}
.All-Package-location{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.All-Package-img-container {
  position: relative;
  width: 100%;
  height: 145px;
}

.All-Package-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

.All-Price-tag {
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  background-color: rgba(0, 0, 0, 0.500);
  color: white;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 16px;
}
.All-Price-tag2 {
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  background-color: rgba(0, 0, 0, 0.500); 
  color: white;
  padding: 3px 15px;
  border-radius: 5px;
  font-size: 16px;
}
.All-Transparent-Box {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.500);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.All-showall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

@media (max-width: 1300px) {
  .All-Packages-container {
    width: 85%;
}
.All-Package-img-container {
  position: relative;
  width: 100%;
  height: 175px;
}
.All-Package-Box {
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 34%;
  display: inline-block;
  flex: none;
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 2px;
  margin-right: 10px;
}
}

@media (max-width: 768px) {
  .All-Packages-container {
    width: 85%;
}
.All-Package-img-container {
  position: relative;
  width: 100%;
  height: 220px;
}
.All-Package-Box {
    width: 65%;
}
}
@media (max-width: 576px) {
  .All-Packages-container {
    width: 85%;
}
.All-Package-img-container {
  position: relative;
  width: 100%;
  height: 210px;
}
.All-Package-Box {
  width: 75%;
}
.All-showall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
}

@media (max-width: 400px) {

  .All-Packages-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
    width: 85%;
}
.All-Package-Box {
  border: 2px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 75%;
  display: inline-block;
  flex: none;
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 2px;
  margin-right: 10px;
}
.All-Package-img-container {
  position: relative;
  width: 100%;
  height: 185px;
}
.All-row-felx {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
}
.All-showall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
} 