@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}
.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}
.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
.packages-container {
    text-align: center;
    color: #4C1B41;
    width: 75%;
}

.packages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 10%;
}
.packages-container h1 {
    font-size: 36px;
    color: #4C1B41;
    text-align: left;
    margin-bottom: 2rem;
}

.packages-container h2 {
    font-size: 25px;
    color: #4C1B41;
    text-align: left;
    margin-bottom: 2rem;
}
.line{
    height: 5%;
    border: none;
    border-top: 5px solid #4C1B41;
    width: 95%;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  .Page-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3.7rem;
}
.venue-image-container {
    width: 45%;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.venue-image {
    width: -webkit-fill-available;
    object-fit: cover;
    height: inherit;
    border: solid transparent;
    border-radius: 35px;
}
.venue-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    border: solid 2px #4c1b417d;
    border-radius: 25px;
    margin-bottom: 25px;
    width: 90%;
    margin-left: 35px;
}
.venue-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}
.venue-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    margin-left: 35px;
    gap: 25px;
}

.Location-icon {
    width: 35px;
    height: 35px;
    color: #4C1B41;
}
.Location-gap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #4C1B41;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .Page-Container {
        margin-top: 5%;
    }
}

@media (max-width: 992px) {
    .Page-Container {
        margin-top: 5%;
    }
}

@media (max-width: 768px) {
    .Page-Container {
        margin-top: 5%;
    }
}

@media (max-width: 576px) {
    .Page-Container {
        margin-top: 5%;
    }
}

@media (max-width: 400px) {
    .Page-Container {
        margin-top: 5%;
    }
}