/*.package-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  max-width: 200px;
  margin: 1rem;
  
}*/
.bold-font {
  font-weight: bold;
}
.mid-font-size {
  font-size: 20px;
}
.package-image {
  width: 100%;
  height: 225px;
  border-radius: 8px;
  object-fit: cover;
}

.package-info {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-button {
  background-color: #4C1B41;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}
.package-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-color: #4C1B41; 
}

.package-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 26%;
  margin: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  /* height: fit-content; */
  position: relative; /* Added to position Transparent-Box */
}

.padding {
  padding: 8px 0px;
}

.Transparent-Box {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: rgb(255 255 255 / 77%);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}


.fa-star {
  font-size: 24px;
  color: #4C1B41;
}
@media (max-width: 1406px) {
  .package-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 40%;
    margin: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
    /* height: fit-content; */
    position: relative;
}
}
@media (max-width: 992px) {
  .packages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 1%;
}
.package-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 42%;
  margin: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  /* height: fit-content; */
  position: relative;
}
}
@media (max-width: 768px) {
  .package-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 82%;
    margin: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
    /* height: fit-content; */
    position: relative;
}
.packages-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 7%;
}
}
@media (max-width: 576px) {
  .packages-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 0%;
}
.package-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  margin: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  /* height: fit-content; */
  position: relative;
}
}