@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}
.line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
    
  }
.ShowAll-Events-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 40px;
    width: 60%;
    border-radius: 10px;
}
.row-felx{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.All-Event-Types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.All-Event-Box {
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
    display: Flex;
    width: 90%;
}

.All-Event-details {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 20px;
    width: 560px;
    padding-top: 12px;
    font-size: 14px;
}
.All-Event-location {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
    align-items: flex-start;
}

.All-Event-img-container {
    position: relative;
    width: 300px;
    height: 190px;
}

.All-Event-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block; 
    object-fit: cover;
}

.Price-tag {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    padding: 3px 15px;
    border-radius: 5px;
    font-size: 16px;
}
.No-Event{
    margin-top: 30px;
    margin-left: 25px;
    color: #4C1B41;
}
.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .Events-container {
        width: 85%;
    }
    .Event-Types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .All-Event-Box {
        border: 2px solid lightgray;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 15px;
        display: Flex;
        width: 90%;
        align-items: center;
    }
    .All-Events-Types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .All-Event-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        width: 100%;
        margin-bottom: 5px;
        word-break: break-word;
    }
    .previous-events{
        width: 90%;
    }
    .All-Event-img-container {
        position: relative;
        width: 420px;
        height: 315px;
        margin-top: 5px;
        padding-right: 5px;
    }
    .All-Event-location {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .All-Events-container {
        width: 85%;
    }
    .All-Event-Types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .All-Event-Box {
        padding: 2px;
        width: 100%;
    }
    .All-Events-Types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .All-Event-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 20px;
        width: 100%;
        margin-bottom: 5px;
        word-break: break-word;
    }
    .previous-events{
        width: 90%;
    }
    .All-Event-img-container {
        position: relative;
        width: 330px;
        height: 235px;
        margin-top: 5px;
        padding-right: 5px;
    }
    .All-Event-location {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        padding-top: 10px;
        margin-right: 10px;
    }
    .time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

@media (max-width: 576px) {
    .All-Events-container {
        width: 85%;
    }
    .All-Event-Types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .All-Event-Box {
        padding: 2px;
        width: 100%;
        display: Flex;
        flex-direction: column;
    }
    .All-Events-Types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .All-Event-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        width: 100%;
        margin-bottom: 5px;
        word-break: break-word;
    }
    .previous-events{
        width: 90%;
    }
    .All-Event-img-container {
        position: relative;
        width: 270px;
        height: 170px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .All-Event-location {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        margin-right: 10px;
    }
    .time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

@media (max-width: 400px) {
    .All-Events-container {
        width: 85%;
    }
    .All-Event-Types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .All-Event-Box {
        padding: 2px;
        width: 100%;
        display: Flex;
        flex-direction: column;
    }
    .All-Events-Types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .All-Event-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        width: 100%;
        margin-bottom: 5px;
        word-break: break-word;
    }
    .previous-events{
        width: 90%;
    }
    .All-Event-img-container {
        position: relative;
        width: 200px;
        height: 150px;
        margin-top: 5px;
        margin-left: 8px;
    }
    .All-Event-location {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 10px;
        margin-right: 10px;
        flex-direction: column;
    }

}