.package-details-container {
    width: 80%;
    margin: 0 auto;
    padding: 35px 0px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #4C1B41;
    padding-bottom: 5px;
  }

  .bold-font {
    font-weight: bold;
}

.large-font-size {
  font-size: 30px;
}
.mid-font-size {
  font-size: 20px;
  color: #4C1B41;
}


  .line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
    
  }
  
  .semi-line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 18%;
    margin-bottom: 2%;
    border-radius: 10px;
    
  }

  .content {
    display: flex;
    gap: 40px;
    width: 90%;
    align-items: center;
    margin-bottom: 3%;
}
  
  .one-package-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .planner-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top: 10px;
}
  
.planner-image {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
  
  .planner-name {
    font-size: 27px;
    font-weight: bold;
    color:#4C1B41
  }
  
  .price {
    background-color: #666;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .description {
    font-size: 20px;
    line-height: 1.5;
    color:#4C1B41;
  }
  .package-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .img-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    width: 47%;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 385px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
  gap: 15px;
}
.planner-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}
.width{
  width: 10%;
}
.flexRow2{
  display: none;
}

@media (max-width: 1200px) {
  .content {
    display: flex;
    gap: 40px;
    width: 90%;
    align-items: center;
    margin-bottom: 3%;
    flex-direction: column;
    border: solid 1px lightgray;
    border-radius: 15px;
    padding: 15px;
}
.img-container {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  width: 80%;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 385px;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 55%;
}
.price {
  background-color: #666;
  color: white;
  padding: 3% 3%;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
}
.flexRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
}

@media (max-width: 576px) {
  .content {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: center;
    margin-bottom: 10%;
    flex-direction: column;
    border: solid 1px lightgray;
    border-radius: 15px;
    padding: 15px;
}
.img-container {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 225px;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 85%;
}
.booking {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.NumberBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.width{
  width: 20%;
}
.flexRow2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
}