.package-details-container {
    width: 80%;
    margin: 0 auto;
    padding: 35px 0px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #4C1B41;
    padding-bottom: 5px;
  }

  .bold-font {
    font-weight: bold;
}

.large-font-size {
  font-size: 30px;
}
.mid-font-size {
  font-size: 20px;
  color: #4C1B41;
}


  .line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
    
  }
  
  .semi-line{
    height: 5% ;
    border: none;
    border-top: 5px solid #4C1B41; 
    width: 18%;
    margin-bottom: 2%;
    border-radius: 10px;
    
  }

  .content {
    display: flex;
    gap: 40px;
    width: 75%;
    align-items: center;
    margin-bottom: 3%;
    
  }
  
  .package-image {
    width: 100%;
    height: 295px;
    border-radius: 8px;
    object-fit: cover;
}
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .planner-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top: 10px;
}
  
  .planner-image {
    width: 15%;
    height:  15%;
    border-radius: 50%;
  }
  
  .planner-name {
    font-size: 27px;
    font-weight: bold;
    color:#4C1B41
  }
  
  .price {
    background-color: #666;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .description {
    font-size: 20px;
    line-height: 1.5;
    color:#4C1B41;
  }
  .package-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .img-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    width: 47%;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 325px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;;
  gap: 15px;
}
.planner-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}