@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.large-font-size {
    font-size: 30px;
}
.mid-font-size {
    font-size: 20px;
}
.small-font-size {
    font-size: 12px;
}

.bold-font {
    font-weight: bold;
}
.font-color {
    color: #4C1B41;
}

.Box-Border {
    border: 2px solid lightgray;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1), 
        inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.Profile-Container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 65px;
    align-items: flex-start;
}

.Customer-Name {
    display: flex;
    flex-direction: column;
    width: 430px;
}

.Info-Details {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 22px;
    justify-content: center;
    gap: 10px;
}
.Info-Details span {
    align-items: center;
}

.Profile-Image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.Button{
    background-color: #4C1B41;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 12px 45px;
    cursor: pointer;
    border-radius: 5px;
}
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: scroll;
}
.modal-details {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 15px;
}
.input{
    padding: 5px 5px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
@media (max-width: 1050px) {
    .Profile-Container {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }
    .Box-Border {
        border: 2px solid lightgray;
        padding: 20px;
        border-radius: 5px;
        width: 85%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .Customer-Name {
        width: 100%;
        align-items: center;
    }

    .Info-Details {
        font-size: 18px;
        padding-left: 0;
        align-items: center;
    }

    .Profile-Image {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1050px) {
    .Profile-Container {
        padding-left: 5px;
    }
    .Box-Border {
        border: 2px solid lightgray;
        padding: 20px;
        border-radius: 5px;
        width: 85%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .Customer-Name {
        width: 100%;
    }

    .Info-Details {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .Profile-Image {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 400px) {
    .Profile-Container {
        padding-left: 0;
    }
    .Box-Border {
        border: 2px solid lightgray;
        padding: 20px;
        border-radius: 5px;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .Customer-Name {
        width: 100%;
    }

    .Info-Details {
        font-size: 10px;
    }

    .Profile-Image {
        width: 100px;
        height: 100px;
    }
}