*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Page-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    margin-bottom: 3.7rem;

    
}
