*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: center; */
    margin-bottom: 3.7rem;
    /* width: 70%; */

    
}
