.PAE-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3.7rem;
  }
  .PE-container {
    width: 75%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: flex-start;
}
.container-pre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}
.pre-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.width{
  width: 100%;
}
.noneGrid{
  grid: none;
}
@media (max-width: 1200px) {
  .widthR {
    width: 195px;
  }
  .gridR {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Show 2 offers per screen */
  }
}
@media (max-width: 900px) {
.gridR {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
}
@media (max-width: 500px) {
  .media-none {
    display: none;
  }
  .media-display {
    display: block;
  }
  .btn-media-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}