.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3.7rem;
    /* width: 75%; */
  }
  .required-label::after {
    content: " *";
    font-weight: bold;
    color: rgb(203, 0, 0);
  }
  .modal-overlay-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    padding: 2%; 
    z-index: 1000;  
}

