.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3.7rem;
    /* width: 75%; */
  }
  .required-label::after {
    content: " *";
    font-weight: bold;
    color: rgb(203, 0, 0);
  }
  .modal-overlay-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    padding: 2%; 
    z-index: 1000;  
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  /* overflow-y: auto;  */
}

.Modal-Add-package-container {
  position: relative;
  display: inline-block;
  width: 55%;
  flex: none;
  display: flex;
  flex-direction: column;
}

.input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  padding: 7px 15px;
  background-color: #D9B34D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  background-color: #c2a249;
}

